* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 3, 62);
    overflow: hidden;
}

.fa-instagram {
    color: rgb(248, 216, 147);
    position: absolute;
    top: -20px;
    animation: fall 4s linear forwards;
}

.fa-youtube {
    color: rgb(248, 216, 147);
    position: absolute;
    left: 400px;
    animation: fall 4s linear forwards;
}

.fa-telegram {
    color: rgb(248, 216, 147);
    position: absolute;
    left: 700px;
    animation: fall linear forwards;
}

.fa-square-twitter {
    color: rgb(248, 216, 147);
    position: absolute;
    left: 100px;
    animation: fall 4s linear forwards;
}


@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}